Source: covet
Section: misc
Priority: optional
Maintainer: Armin Häberling <armin.aha@gmail.com>
Build-Depends: debhelper (>= 9), pkg-config, libssl-dev
Standards-Version: 3.9.5
Homepage: https://github.com/arminha/covet

Package: covet
Architecture: any
Depends: adduser, ${shlibs:Depends}, ${misc:Depends}
Description: Tools for operating HP scanners in a network
  Features
   * Supports HP Envy scanners
   * Scan documents from the command line or in a web application
   * Controls the scanner over its ReST interface
